In [2]:
import pandas as pd
import numpy as np

In [3]:
series = pd.Series(5, index=[0,0,3,4,5])
series

0    5
0    5
3    5
4    5
5    5
dtype: int64

In [4]:
series = pd.Series({"a":[10,20],"b":np.random.randn(3),"c":30})
series

a                                             [10, 20]
b    [-0.12712955070684162, -0.7752284221812613, 0....
c                                                   30
dtype: object

In [5]:
series["a"]

[10, 20]

In [7]:
series.iloc[0]

[10, 20]

In [8]:
series[:3]

a                                             [10, 20]
b    [-0.12712955070684162, -0.7752284221812613, 0....
c                                                   30
dtype: object

In [10]:
series.loc[:"c"]

a                                             [10, 20]
b    [-0.12712955070684162, -0.7752284221812613, 0....
c                                                   30
dtype: object

In [16]:
s=pd.Series(np.random.randn(5),index=["a","b","c","d","e"])
s[s>s.median()]

a    1.237559
c    0.952884
dtype: float64

In [17]:
np.exp(s)

a    3.447190
b    0.052275
c    2.593178
d    0.433456
e    0.485008
dtype: float64

In [18]:
s

a    1.237559
b   -2.951239
c    0.952884
d   -0.835964
e   -0.723589
dtype: float64

In [22]:
s.get("f",5)

5

In [23]:
s+s

a    2.475119
b   -5.902478
c    1.905768
d   -1.671928
e   -1.447178
dtype: float64

In [24]:
s*2

a    2.475119
b   -5.902478
c    1.905768
d   -1.671928
e   -1.447178
dtype: float64

In [25]:
s*s

a    1.531553
b    8.709811
c    0.907988
d    0.698836
e    0.523581
dtype: float64

In [36]:
(s.iloc[1:]+s.iloc[:-1]).dropna()

b   -5.902478
c    1.905768
d   -1.671928
dtype: float64

In [39]:
s=pd.Series(np.random.randn(4),name="something")
s

0    0.618273
1   -0.991033
2    0.700118
3   -0.653505
Name: something, dtype: float64

In [42]:
s.name="differnt"
s

0    0.618273
1   -0.991033
2    0.700118
3   -0.653505
Name: differnt, dtype: float64

In [43]:
s2=s.rename("diff")
s2

0    0.618273
1   -0.991033
2    0.700118
3   -0.653505
Name: diff, dtype: float64

In [46]:
d={
    "one":pd.Series(list(range(1,4)),index=list("abc")),
    "two":pd.Series(list(range(1,5)),index=list("abcd"))
}
df=pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [47]:
pd.DataFrame(df, index=list("bad"))

   one  two
b  2.0    2
a  1.0    1
d  NaN    4

In [49]:
type(df.loc["b","two"])

numpy.int64

In [50]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [51]:
df.columns

Index(['one', 'two'], dtype='object')

In [56]:
data = np.zeros((2,), dtype=[("A","i4"),("B","f4"),("C","a10")])
data[:]=[(1,2,"hello"),(2,3.0,"world")]
pd.DataFrame(data)

C:\Users\singh\AppData\Local\Temp\ipykernel_12716\3566926892.py:1: DeprecationWarning: Data type alias 'a' was deprecated in NumPy 2.0. Use the 'S' alias instead.
  data = np.zeros((2,), dtype=[("A","i4"),("B","f4"),("C","a10")])

   A    B         C
0  1  2.0  b'hello'
1  2  3.0  b'world'

In [60]:
data={
        "a":[10,20],
        "b":10}
pd.DataFrame(data)

    a   b
0  10  10
1  20  10